.sign-up-container {
	display: flex;
	flex-direction: column;
	width: 380px;
	h2 {
		margin: 10px 0;
	}
	.form-input {
		// border: 3px solid red;
		// background-color: rgba($color: grey, $alpha: 0.6);
		color: black;
	}
}
